build --extra_execution_platforms=@local_config_platform//:host,@io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_5.0.201
build --host_platform @io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_5.0.201
