build --extra_execution_platforms=@local_config_platform//:host,@io_bazel_rules_dotnet//dotnet/toolchain:darwin_amd64_3.1.100
build --host_platform @io_bazel_rules_dotnet//dotnet/toolchain:darwin_amd64_3.1.100
